@charset "UTF-8";
.colorRow {
  background-color: #dde2e3;
  text-align: center; }
  .colorRow img {
    max-width: 250px;
    padding: 20px; }

.colorRow3 {
  background-color: #acb4b6;
  text-align: center; }
  .colorRow3 img {
    max-width: 250px;
    padding: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/fondo.jpg);
  /*background-color: rgb(237, 240, 241);*/
  /*font-family: 'Zilla Slab', serif;*/
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-size: 18px; }

@media (max-width: 320px) {
  .contenedorPadre {
    text-align: justify;
    flex-direction: column;
    width: 100% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main " "aside"; }
  .item1 {
    display: flex;
    flex-direction: column; }
  .item1 h5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto; }
  .Item2 .foto2 {
    width: 225px; }
  .Item3 .foto6 {
    width: 250px; }
  .item3 {
    flex-direction: column; } }

header nav {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /*background: linear-gradient(rgb(209, 224, 233), rgb(227, 230, 233));*/
  /*background-color: #f1dd57;*/
  /*background-color: rgb(243, 201, 124);*/
  /*background-color: #fdcf51;*/
  background-color: #FDCF73; }
  header nav .navbar-nav a:hover {
    color: white;
    border: whitesmoke solid 1px;
    background-color: #dfdada;
    border-radius: 5%;
    transform: scale(1.05, 1.05); }

main {
  /*.colorCard2{
                    background-color: #dde2e3;*/ }
  main .section2 {
    text-align: center;
    width: 100% auto; }
    main .section2 .img {
      width: 800px;
      margin: 0; }
      @media (max-width: 480px) {
        main .section2 .img .img {
          width: 10vh; } }
    main .section2 .section3 {
      max-width: 90%;
      margin: 0 auto; }
  main h1 {
    text-align: center;
    padding: 10px;
    color: #645d5d;
    font-family: "Bitter", serif; }
  main h2 {
    text-align: center;
    padding: 10px;
    color: #9e9d9d;
    font-size: 20px; }
  main .section1 {
    color: #17172b;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    /*background-color: $colorsection1;*/
    background-color: #B3DBDB;
    width: 92% auto;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  main .card-group {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 0px 0px 0px 0px;
    /*.card{
                background-image: linear-gradient(rgb(195, 195, 204), rgb(252, 247, 247));*/ }
  main .btn-color {
    background-color: #5a5a8f;
    color: white;
    padding: 15px 15px; }
  main .btn-color:hover {
    background-color: #7a8dc9;
    color: black; }
  main .btn-circle.btn-xl {
    width: 180px;
    height: 50px;
    padding: 16px 26px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center; }
  main .colorCard {
    /*background-image: linear-gradient(rgb(164, 164, 179), rgb(218, 214, 214));*/ }
    main .colorCard .sectionFoto {
      max-width: 50px; }
  main .retorno {
    text-align: center; }
    main .retorno button.btn a {
      text-decoration: none;
      /*background-color: #e2e2e6;*/
      background-color: #FDCF73;
      border: #f3f3f7 solid 3px;
      border-radius: 5px;
      padding: 5px; }
      main .retorno button.btn a .retorno {
        text-align: center; }

/*Pagina Nuestra Misión*/
p.section1 {
  color: #17172b;
  margin-top: 20px;
  font-size: large;
  padding: 20px;
  /*background-color: #b3b6c0;*/
  background-color: #a4a9c9;
  max-width: 90%;
  text-align: center; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: linear-gradient(rgb(195, 195, 204), rgb(252, 247, 247));*/ }
  .card .colorCard {
    text-align: center;
    /*background-image: linear-gradient(rgb(195, 195, 204), rgb(252, 247, 247));*/ }
    .card .colorCard .ordenFoto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap; }
      .card .colorCard .ordenFoto .img {
        display: flex;
        flex-direction: column;
        max-width: 180px;
        justify-content: center;
        margin: 0 auto; }

.colorCard2 {
  /*background-image: linear-gradient(rgb(164, 164, 179), rgb(218, 214, 214));*/
  text-align: center; }

.caja {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto; }
  .caja h2 {
    font-size: 25px;
    color: orange; }
  .caja p.section3 {
    color: #807991;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; }

.foto {
  max-width: auto;
  border-radius: 5px; }

@media (max-width: 480px) {
  .img-thumbnail {
    padding: 3rem; }
  .caja {
    display: flex;
    flex-direction: column; }
  .foto {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center; } }

/*Pagina Porque Ayudar */
h2 {
  text-align: center;
  padding: 10px;
  color: grey;
  font-size: large; }

.contenedorPadre {
  width: 92%;
  margin: 0 auto;
  display: grid;
  gap: 20 px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr auto;
  grid-template-areas: "header header header" "main aside aside"; }
  .contenedorPadre .Item1 {
    /*background-color: $colorItem1;*/
    background-color: #fcfafa;
    grid-area: header;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .contenedorPadre .Item2 {
    /*background-color: $colorItem2;*/
    background-color: white;
    grid-area: main;
    padding: 30px;
    /*border: (245, 138, 99) solid 30px;*/
    text-align: center; }
    .contenedorPadre .Item2 h3 {
      background-image: linear-gradient(#f8f8fc, #fcf7f7);
      color: grey;
      border-radius: 2%;
      max-width: 75%;
      text-align: center;
      margin: 0 auto; }
      .contenedorPadre .Item2 h3 h4 {
        color: grey;
        text-align: center; }
    .contenedorPadre .Item2 .foto2 {
      max-width: 400px;
      width: 100%;
      text-align: center;
      padding: 30px;
      margin-top: 30px; }
  .contenedorPadre .Item3 {
    /*background-color:$colorItem3;*/
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #9696cc, rgba(109, 102, 102, 0)) 1 100%;
    grid-area: aside;
    padding: 15px;
    color: grey;
    line-height: 100%; }
    .contenedorPadre .Item3 ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin: 0 auto;
      line-height: 1.5;
      /*list-style-image: url("../img/icono-ok-2.png");*/ }
      .contenedorPadre .Item3 ul h3 {
        text-align: center;
        padding: 15px;
        margin-bottom: 15px; }
      .contenedorPadre .Item3 ul .li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        padding: 15px;
        line-height: 2.5;
        margin: 0 auto;
        /*list-style-image: url("../img/icono-ok-2.png");*/ }
    .contenedorPadre .Item3 .contenedorFotos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 30px;
      gap: 10px;
      margin-top: 20px;
      /*
            background-color: rgb(163, 162, 162);*/ }
      .contenedorPadre .Item3 .contenedorFotos .foto6 {
        max-width: 250px;
        border: #bbb7b7 solid 0px;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .contenedorPadre .Item3 .contenedorFotos .foto6 .foto6 a:hover {
          transform: scale(1.3);
          transform: scale(1.3); }
        .contenedorPadre .Item3 .contenedorFotos .foto6 .foto6 {
          overflow: hidden; }
      .contenedorPadre .Item3 .contenedorFotos .foto9 {
        max-width: 300px;
        border: #bbb7b7 solid 0px;
        display: flex;
        flex-direction: column;
        justify-content: center; }

@media (max-width: 480px) {
  .contenedorPadre {
    width: 100% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main " "aside";
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contenedorPadre .foto2 {
      width: auto; }
    .contenedorPadre .item1 {
      display: flex;
      flex-direction: column;
      text-align: center; } }

/*Pagina testimonios*/
.container {
  width: 100% auto;
  text-align: center;
  gap: 15px;
  /*background-color: #bbc1c2;*/
  margin: 0 auto;
  gap: 15px;
  background-color: #fcfeff; }
  .container h3 {
    color: #504444; }

@media (max-width: 576x) {
  iframe.iframeSize {
    max-width: 300px;
    text-align: center; } }

.colorCard {
  /*background-image: linear-gradient(rgb(164, 164, 179), rgb(218, 214, 214));*/
  background-color: white;
  text-align: center; }
  .colorCard .div {
    text-align: center;
    padding: 5px;
    text-align: center; }
    .colorCard .div .iframe {
      text-align: center; }
      @media (max-width: 480px) {
        .colorCard .div .iframe {
          width: 200px; } }

.row .iframeSize {
  max-width: 400px; }

/*Pagina Contacto*/
.contenedorContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  /*background-color: #f6f6fa;*/
  background-color: #f7f7fc;
  border-radius: 5px;
  /*
iframe {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 45px;
    margin-bottom:45px;
    border-radius: 5px;
    max-width: 500px;
        }
}
*/ }
  .contenedorContacto .formu {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 45px;
    background-color: #f7f7fc;
    border: 2px solid #e6e6eb;
    padding: 100px;
    text-align: center;
    border-radius: 5px; }
    .contenedorContacto .formu .formu1 {
      max-width: 100%;
      margin: 0 auto; }
      .contenedorContacto .formu .formu1 input.form-control {
        padding: 10px;
        margin: 10px;
        max-width: 600px; }
    .contenedorContacto .formu p {
      padding: 20px;
      background-color: #cbd1d4;
      margin-top: 45px;
      border-radius: 5px; }
  .contenedorContacto h2 {
    margin-bottom: 15px;
    padding: 15px;
    color: #41418b; }
  .contenedorContacto .formu2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; }
  .contenedorContacto .fotoP {
    margin: 0 auto;
    max-width: 80px; }
  .contenedorContacto .fotoPP {
    margin: 0 auto;
    max-width: 60px; }
  .contenedorContacto .btn-color {
    background-color: #5a5a8f;
    color: white;
    padding: 30px;
    margin-top: 20px;
    text-align: center; }
    .contenedorContacto .btn-color .btn-color:hover {
      background-color: #7a8dc9;
      color: black; }
    .contenedorContacto .btn-color .btn-circle.btn-xl {
      width: 180px;
      height: 50px;
      padding: 20px 28px;
      border-radius: 35px;
      font-size: 15px;
      text-align: center;
      margin: auto; }
  .contenedorContacto .section2 img.foto20 {
    max-width: 300px;
    width: 90%;
    padding: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto; }
  .contenedorContacto .section2 iframe.iframeSize2 {
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    /*iframe {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-right: 45px;
        margin-bottom:45px;
        border-radius: 5px;
        max-width: 500px;*/ }
  .contenedorContacto .animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px; }
    .contenedorContacto .animation .animated {
      width: 15px;
      height: 15px;
      margin: 5px;
      border-radius: 20%;
      background-color: #edeef1;
      color: #acb4b6;
      animation: efecto-bread-crumbs 3s ease 1s infinite; }
    .contenedorContacto .animation .animated2 {
      width: 15px;
      height: 15px;
      margin: 5px;
      border-radius: 20%;
      background-color: #edeef1;
      color: #acb4b6;
      animation: efecto-bread-crumbs 3s ease 2s infinite; }
    .contenedorContacto .animation .animated3 {
      width: 15px;
      height: 15px;
      margin: 5px;
      border-radius: 20%;
      background-color: #edeef1;
      color: #acb4b6;
      animation: efecto-bread-crumbs 3s ease 2s infinite; }

@keyframes efecto-bread-crumbs {
  0% {
    background: #FDCF73; }
  50% {
    /*background: rgb(223, 74, 74);*/
    /*background: #c5cbdd;*/
    background-color: white; }
  100% {
    /*background: rgb(250, 1, 1);*/
    background: #f09918; } }
  @media (max-width: 768px) {
    .contenedorContacto .contenedorContacto {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 0 auto;
      text-align: center; }
      .contenedorContacto .contenedorContacto h2 {
        text-align: center;
        margin: 0 auto; }
      .contenedorContacto .contenedorContacto iframe {
        width: 100%;
        text-align: center; }
      .contenedorContacto .contenedorContacto .section2 .foto20 {
        width: 100%;
        margin-right: 20px;
        text-align: center; } }

footer {
  padding: 10px;
  text-align: center;
  color: #221919;
  width: 100%;
  margin: 0 auto; }
  footer .Item4 {
    background-color: #bdb2b4;
    /*background-color: rgb(236, 194, 114);*/
    grid-area: footer;
    padding: 10px;
    border-radius: 1%;
    height: 160px;
    width: 100%; }
    footer .Item4 .foto8 {
      width: 80px;
      padding: 5px;
      text-align: center; }
    footer .Item4 .foto11 {
      width: 25px;
      border-radius: 5px; }
