main {
    .section2 {
        text-align: center;
        width: 100% auto;
        .img {
            width: 800px;
            margin: 0;
            @media (max-width: 480px) {
                .img {
                    width: 10vh;
                }
            }
        }
        .section3 {
            max-width: 90%;
            margin: 0 auto;
            background-color: white;
        }
    }
    h1 {
        text-align: center;
        padding: 10px;
        color: rgb(100, 93, 93);
        font-family: "Bitter", serif;
    }
    h2 {
        text-align: center;
        padding: 10px;
        color: rgb(158, 157, 157);
        font-size: 20px;
        width: 100%;
    }
    .section1 {
        color: rgb(23, 23, 43);
        font-size: 18px;
        padding: 20px;
        font-weight: bold;
        /*background-color: $colorsection1;*/
        background-color: #d4dddd;
        width: 92% auto;
        margin: 0 auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .card-group {
        max-width: 90%;
        margin: 0 auto;
        border-radius: 0px 0px 0px 0px;
    }
    .btn-color {
        background-color: $color-boton;
        color: white;
        padding: 15px 15px;
    }
    .btn-color:hover {
        background-color: $color-boton-hover;
        color: black;
    }
    .btn-circle.btn-xl {
        width: 180px;
        height: 50px;
        padding: 16px 26px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }
    .colorCard {
        .sectionFoto {
            max-width: 50px;
        }
    }
    .retorno {
        text-align: center;
        button.btn a {
            text-decoration: none;
            background-color: #fdcf73;
            border: #f3f3f7 solid 3px;
            border-radius: 5px;
            padding: 5px;
            .retorno {
                text-align: center;
            }
        }
    }
}

/*Pagina Nuestra Misión*/
p.section1 {
    color: rgb(23, 23, 43);
    margin-top: 20px;
    font-size: large;
    padding: 20px;
    background-color: #c9ccdb;
    max-width: 90%;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .colorCard {
        text-align: center;
        .ordenFoto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            .img {
                display: flex;
                flex-direction: column;
                max-width: 180px;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }
}

.colorCard2 {
    text-align: center;
}

.caja {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
        font-size: 25px;
        color: #41418b;
    }
    p.section3 {
        color: rgb(128, 121, 145);
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
}
.foto {
    max-width: auto;
    border-radius: 5px;
}
@media (max-width: 480px) {
    .img-thumbnail {
        padding: 3rem;
    }
    .caja {
        display: flex;
        flex-direction: column;
    }
    .foto {
        width: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

/*Pagina Porque Ayudar */
h2 {
    text-align: center;
    padding: 10px;
    color: grey;
    font-size: large;
}

.contenedorPadre {
    width: 92%;
    margin: 0 auto;
    display: grid;
    gap: 20 px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr auto;
    grid-template-areas:
        "header header header"
        "main aside aside";

    .Item1 {
        /*background-color: $colorItem1;*/
        background-color: rgb(255, 251, 251);
        grid-area: header;
        padding: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: grey;
        max-width: 85%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .Item2 {
        /*background-color: $colorItem2;*/
        background-color: white;
        grid-area: main;
        padding: 30px;
        text-align: center;
        h3 {
            background-image: linear-gradient(rgb(248, 248, 252), rgb(252, 247, 247));
            color: grey;
            border-radius: 2%;
            max-width: 75%;
            text-align: center;
            margin: 0 auto;
            h4 {
                color: grey;
                text-align: center;
            }
        }
        .foto2 {
            max-width: 400px;
            width: 100%;
            text-align: center;
            padding: 30px;
            margin-top: 30px;
        }
    }

    .Item3 {
        /*background-color:$colorItem3;*/
        background-color: white;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to bottom, rgb(150, 150, 204), rgba(109, 102, 102, 0)) 1 100%;
        grid-area: aside;
        padding: 15px;
        color: grey;
        line-height: 100%;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            margin: 0 auto;
            line-height: 1.5;
            h3 {
                text-align: center;
                padding: 15px;
                margin-bottom: 15px;
            }

            .li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                list-style-type: none;
                padding: 15px;
                line-height: 2.5;
                margin: 0 auto;
            }
        }
        .contenedorFotos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 30px;
            gap: 10px;
            margin-top: 20px;
            .foto6 {
                max-width: 250px;
                border: rgb(187, 183, 183) solid 0px;
                padding: 15px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .foto6 a:hover {
                    transform: scale(1.3);
                    transform: scale(1.3);
                }
                .foto6 {
                    overflow: hidden;
                }
            }
            .foto9 {
                max-width: 300px;
                border: rgb(187, 183, 183) solid 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 480px) {
    .contenedorPadre {
        width: 100% auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main "
            "aside";
        display: flex;
        flex-direction: column;
        text-align: center;

        .foto2 {
            width: auto;
        }
        .item1 {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}

/*Pagina testimonios*/
.container {
    width: 100% auto;
    text-align: center;
    gap: 15px;
    margin: 0 auto;
    gap: 15px;
    background-color: #fcfeff;
    iframe.iframeSize {
        width: 450px;
    }
    h3 {
        color: rgb(155, 154, 154);
    }
}

@media (max-width: 576x) {
    iframe.iframeSize {
        max-width: 200px;
        text-align: center;
    }
}
.colorCard {
    background-color: white;
    text-align: center;
    .div {
        text-align: center;
        padding: 5px;
        text-align: center;
        .iframe {
            text-align: center;
            @media (max-width: 480px) {
                width: 100px;
            }
        }
    }
}

.row {
    .iframeSize {
        max-width: 400px;
    }
}

/*Pagina Contacto*/
.contenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    background-color: #f7f7fc;
    border-radius: 5px;
    .formu {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 45px;
        background-color: #f7f7fc;
        border: 2px solid rgb(230, 230, 235);
        padding: 100px;
        text-align: center;
        border-radius: 5px;
        .formu1 {
            max-width: 100%;
            margin: 0 auto;
            input.form-control {
                padding: 10px;
                margin: 10px;
                max-width: 600px;
            }
        }
        p {
            padding: 20px;
            background-color: #cbd1d4;
            margin-top: 45px;
            border-radius: 5px;
        }
        .formu2 {
            max-width: 600px;
            margin: 0 auto;
            padding: 18px;
        }
    }
    h2 {
        margin-bottom: 15px;
        padding: 15px;
        color: #41418b;
    }
    .fotoP {
        margin: 0 auto;
        max-width: 80px;
    }
    .fotoPP {
        margin: 0 auto;
        max-width: 70px;
        padding: 5px;
    }

    .btn-color {
        background-color: #5a5a8f;
        color: white;
        padding: 30px;
        margin-top: 20px;
        text-align: center;
        .btn-color:hover {
            background-color: #7a8dc9;
            color: black;
        }
        .btn-circle.btn-xl {
            width: 180px;
            height: 50px;
            padding: 20px 28px;
            border-radius: 35px;
            font-size: 15px;
            text-align: center;
            margin: auto;
        }
    }

    .section2 {
        img.foto20 {
            max-width: 300px;
            width: 90%;
            padding: 35px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
        iframe.iframeSize2 {
            height: auto;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    .animation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 35px;
        .animated {
            width: 15px;
            height: 15px;
            margin: 5px;
            border-radius: 20%;
            background-color: #edeef1;
            color: #acb4b6;
            animation: efecto-bread-crumbs 3s ease 1s infinite;
        }
        .animated2 {
            width: 15px;
            height: 15px;
            margin: 5px;
            border-radius: 20%;
            background-color: #edeef1;
            color: #acb4b6;
            animation: efecto-bread-crumbs 3s ease 2s infinite;
        }
        .animated3 {
            width: 15px;
            height: 15px;
            margin: 5px;
            border-radius: 20%;
            background-color: #edeef1;
            color: #acb4b6;
            animation: efecto-bread-crumbs 3s ease 2s infinite;
        }

        @keyframes efecto-bread-crumbs {
            0% {
                background: #fdcf73;
            }
            50% {
                background-color: white;
            }
            100% {
                background: #f09918;
            }
        }
    }

    @media (max-width: 768px) {
        .contenedorContacto {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            h2 {
                text-align: center;
                margin: 0 auto;
            }
            iframe {
                width: 100%;
                text-align: center;
            }
            .section2 {
                .foto20 {
                    width: 100%;
                    margin-right: 20px;
                    text-align: center;
                }
            }
        }
    }
}
