$color-boton:#6d6d97;
$color-boton-hover: #7a8dc9;
$coloralternativo: #798dc9;
$colorsection1:#aeb9da;
$colorItem1:#d6ebec;
$colorItem2: gainsboro;
$colorItem3: #8b9ac7;
$colorfooter: linear-gradient(#d8c6a1, #d3ae8b);
$colorfooter2:#d0dfd2;
$colorfooter3:#96a2c4;



