$color-boton:#6d6d97;

$color-boton-hover: #7a8dc9;
$coloralternativo: #798dc9;
$colorsection1:#aeb9da;
$colorItem1:#d6ebec;
$colorItem2: gainsboro;
$colorItem3: #8b9ac7;
$colorfooter: linear-gradient(#d8c6a1, #d3ae8b);
$colorfooter2:#d0dfd2;
$colorfooter3:#96a2c4;
$colorfooter9:#9da7c4;
$colorfooter4:#d0dfd2;

$colorfooter5:#B3986D;
$colorfooter6:#E88846;
$colorfooter7:#bdb2b4;
$colorfooter8: rgb(209, 224, 233);

