$color-boton:#5a5a8f;
$color-boton-hover: #7a8dc9;
$coloralternativo: #798dc9;
$colorsection1:#aeb9da;
$colorItem1:#d6ebec;
$colorItem2: gainsboro;
$colorItem3: #8b9ac7;
$colorfooter: linear-gradient(#d8c6a1, #d3ae8b);

/*sin usar*/

$color-nav:(#c3d9e7, #cfd9e4);
$colorContainer:#837e9e;
$colorContainer2: #bbc1c2;
$colorcard2: #dde2e3;
